.resume-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.resume-form {
  width: 49%;
  height: 100vh;
}
.actual-resume {
  width: 49%;
  height: auto;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}
.personal-detail {
  width: 30%;
  height: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-detail ul {
  text-align: start;
  list-style-type: disc;
  padding-left: 20px;
}
.contact-detail li {
  margin: 5px;
}
.skill ul {
  display: flex;
  width: 100%;
  gap:45px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: disc;
}
.soft-skill {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.soft-skill ul {
  list-style-type: disc;
  padding-left: 20px;
}
.soft-skill li {
  margin: 10px;
}
.social-media-links {
  width: 100%;
}
.social-media-links ul {
  list-style-type: disc;
  padding-left: 35px;
}
/* main details */
.main-detail {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 2px solid black;
}
.Summary,
p {
  font-size: 13px;
  width: 95%;
  margin-left: 10px;
}
.projects {
  width: 95%;
  padding: 10px;
  margin-left: 15px;
  display:flex;
  flex-direction:column;
  gap:20px;
}
.certification-hobbies {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-evenly;
}

@media (max-width: 900px) {
  .resume-container {
    flex-direction: column;
    overflow-y: auto;
  }

  .resume-form {
    width: 100%;
    height: 50vh;
  }

  .actual-resume {
    width: 100%;
    flex-direction: row;
  }

  .personal-detail {
    width: 30%;
    height: auto;
    border-top: none;
    padding: 20px 0;
    font-size: 12px;
  }

  .personal-detail ul {
    font-size: 11px;
    padding-left: 15px;
  }

  .personal-detail li {
    font-size: 11px;
    margin: 5px 0;
  }

  .main-detail {
    width: 70%;
    height: auto;
  }

  .main-detail .education {
    font-size: 12px;
  }

  .main-detail .education ul {
    font-size: 11px;
    margin-left: 0;
    padding-left: 20px;
  }
}
