.user-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin-top: 50px;
}
.userData {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.userImage {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border: 2px solid black;
  margin-bottom: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
}
.upladImg {
  border: 2px solid black;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}
.upladImg input {
  border: none;
  cursor: pointer;
}

/* contact and resume link */
.user-Suggessions {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.log-out {
  background-color: red;
  width: fit-content;
  padding: 10px;
  color:white;
  border-radius:10px;
  font-weight:600;
  cursor:pointer;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.489);
  transition: all 0.3s;
}
.log-out:hover{
    transform:scale(1.1);
}
.log-out:active
{
   transform:scale(0.9); 
}
