.btn {
  width:fit-content;
  margin: 0 auto;
  height: 50px;
  padding:10px;
  border-radius: 50px;
  font-size:16px;
  border:none;
  color:white;
  background:linear-gradient(to right, rgb(154, 73, 235),rgb(237, 42, 153));
  cursor:pointer;
  font-weight:600;
  transition:all 0.3s;
}
.btn:hover{
 background:linear-gradient(to left,  rgb(154, 73, 235),rgb(237, 42, 153));
 font-size:18px;
 box-shadow:5px 5px 10px rgba(0, 0, 0, 0.231);
}
.btn:active
{
   transform: scale(0.95);
}