.personal-detail-heading {
  font-size: 25px;
  font-weight: 600;
}
.personal-detail-heading-s
{
  font-size:20px;
}
@media (max-width: 900px) {
  .personal-detail-heading {
    font-size: 20px;
  }
}
